@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1e1e1e;
  color: #ccc;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #2d2d2d;
}
::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}